* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    font-size: 120%;
    background-color: #0e0c01;
    color: #e7de8e;
    line-height: 1.5;
}

/* Header styling */
header {
    background-color: #0e0c01;
    color: #e7de8e;
    padding: 10px 0;
}

header .container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
    margin: 0;
}

/* Style for the scrollable menu */
.scrollmenu {
    overflow-x: auto; /* Allows horizontal scrolling */
    white-space: nowrap; /* Prevents the items from wrapping to the next line */
    background-color: #e7de8e; /* Dark background for the menu */
    padding: 10px 0; /* Adds some space around the menu */
    margin: 20px 0; /* Adds some space above and below the menu */
    border-radius: 32px;
}

/* Style for the links inside the scrollmenu */
.scrollmenu {
    position: fixed;        /* deixa o menu fixo */
    top: 0;
    left: 0;
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    background-color: #e7de8e;
    padding: 10px 0;
    z-index: 1000;          /* garante que fique acima do conteúdo */
}


/* Hover effect for the links */
.scrollmenu a:hover {
    background-color: #e7e6d8; /* Darker background color on hover */
    border-radius: 5px; /* Adds rounded corners */
}

/* Content Section styling */
.content {
    padding: 20px 0;
}

.content .container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.content p {
    font-size: 1.2rem;
    margin-top: 10px;
}

.imageProfile {
    width: 250px;
    height: auto;
    object-fit: contain;
    border-radius: 20%;
}

.btn-leitura {
    background-color: #0e0c01 !important;
    color: #e7de8e !important;
    border: 2px solid #0e0c01;
    padding: 10px;
    margin-top: 15px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: 0.3s;
}

.btn-leitura:hover {
    background-color: #ffffff !important;
    color: #000000 !important;
}

/* No celular, ajusta o botão para ficar alinhado com os links */
@media (max-width: 1100px) {
    .btn-leitura {
        margin-top: 0;
        margin-left: 10px;
        padding: 5px 10px;
    }
}

/* Footer styling */
footer {
    align-self: flex-end;
    background-color: #333;
    color: rgb(255, 255, 255);
    padding: 10px 0;
    text-align: center;
}

footer .container {
    width: 90%;
    margin: 0 auto;
}

/* Mobile responsiveness */
@media (max-width: 768px) {
    header h1 {
        font-size: 1.8rem;
    }

    .content p {
        font-size: 1rem;
    }
}








